<footer>
  <div class='wrapper'>
    <div class='foot-container'>
      <section class='footer-left'>
        <a class='footer-left__link' href='https://github.com/mikhaelHan?tab=repositories' rel='noopener noreferrer'
           target='_blank'>
          <img alt='GitHub' class='footer-left__icon' src='../../assets/images/github.png'>My GitHub
        </a>
      </section>
      <section class='footer-right'>
        <a class='footer-right__link' href='https://app.rs.school' rel='noopener noreferrer' target='_blank'>
          <img alt='RS School' class='footer-right__icon' src='../../assets/images/rs_school_js.svg'></a>
      </section>
    </div>
  </div>
</footer>
